<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductosService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/ProductosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductosService"
                contract="ServiceReference1.IProductosService" name="BasicHttpBinding_IProductosService" />
        </client>
    </system.serviceModel>
</configuration>